{# HTML 5 declaration #}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
            <meta name="generator" content="Jekyll v3.8.5">

        {% endblock meta %}


        <title>{% block title %}{% endblock title %}</title> 

        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    </head>
    <body>
        {% block content %}

        <main role="main">
            {% block hero_header%}{% endblock hero_header %}
            {% block body_content %}{% endblock body_content %}
        </main> 

        {% endblock content %} 
        {% block footer %}
            <footer class="text-muted">
                <div class="container">
                    <p class="float-right">
                    <a href="#">Back to top</a>
                    </p>
                    <p>Footer text will go here</p>
                </div>
            </footer>
        {% endblock footer%}
        {% block footer_js%}
            <script src="{% static 'jquery-3.4.1.min.js' %}" ></script>
            <script src="{% static 'popper.min.js' %}" ></script>
            <script src="{% static 'js/bootstrap.min.js' %}" ></script>
        {% endblock footer_js%}

    </body>
</html>