{% extends 'jobs/base.html' %}
{% load static %}
  {% block title %}Job Detail{% endblock title %}

    <!-- Bootstrap core CSS -->
{% block content%}
  {% block hero_header %}
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Job Detail</h1>
        <p class="lead text-muted">{{ job.summary }}</p>
        <img src="{{job.image.url}}" height=300></img>
        <p>
          <a href="{% url 'home' %}" class="btn btn-primary my-2">Back</a>
        </p>
      </div>
    </section>
  {% endblock hero_header %}


{% endblock content %}
</html>

