{% extends 'jobs/base.html' %}
{% load static %}
    {% block title %}Jean-Marie{% endblock title %}

{% block content %}

  {% block hero_header %}
  <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">All my work</h1>
        <p class="lead text-muted">Personal and group work are listed below. You can contact me using the link below.</p>
        <p>
          <a href="mailto:nshimiyejm@gmail.com" class="btn btn-primary my-2">Email Me</a>
        </p>
        <img src="{% static 'jmn.jpg' %}" height=300></img>
      </div>
    </section>
  {% endblock hero_header %}
  {% block body_content %}
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
        {% for job in jobs.all %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{job.image.url}}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
              <div class="card-body">
                <p class="card-text">{{ job.summary }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='{% url 'detail' job.id %}';">Details</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    {% endblock body_content %}
  </div>

{% endblock content %}

</html>
